<% @groups.each do |g| %>
    <%= link_to group_path(g) do %>
    <div class="list-item">
        <%= insert_icon(g) %>
        <div class="list-text">
            <p class="list-name"><%= g.name %></p>
            <p class="list-date"><%= g.created_at.strftime("%Y-%m-%d") %></p>
        </div>
        <p class="price">Gifts: <%= g.gifts.count %></p>
    </div>
    <% end %>
<% end %>