<div class="page">
    <div class="head-top text-center mb-5">
        <%= link_to user_path(current_user) do %>
            <i class="fas fa-bars"></i>
        <% end %>
        <h3>Create Group</h3>
        <i class="fas fa-search"></i>    </div>
    <div class="text-center mt-5">
    <%= form_with(model: @group, local: true) do |f| %>
          <% if @group.errors.full_messages.any? %>
        <% @group.errors.full_messages.each do |error_message| %>
          <p class="text-danger text-center"><%= error_message if @group.errors.full_messages.first == error_message %> <br />
        </p>
        <% end %>
      <% end %>
      <%= f.text_field :name, placeholder: "Group name" %><br/><br/>
      <%= f.text_field :icon, placeholder: "https://" %>
      <%= f.submit class: 'btn btn-lg btn-primary w-50 m-4' %>
    <% end %>
    </div>
</div>