<div class="page">
    <div class="user-top">
        <img class="user-image" src="https://i.ibb.co/tsWxN5w/external-content-duckduckgo-com.jpg">
            <%= link_to sign_out_path, method: :delete, class: 'user-signout-link' do %>
                <i class="fas fa-sign-out-alt mx-3"> Sign Out</i>
            <% end %>
        <h2 class="user-name"><%= @user.name.capitalize %></h2>
    </div>
    <div class="links">
        <ul class="menu">
            <li class="menu-item"><a href="#">
                <%= link_to gifts_path do %>
                    <i class="fas fa-gifts"></i> My Gifts</a>
                <% end %>
            </li>
            <li class="menu-item"><a href="#">
                <%= link_to gifts_path(:ungrouped => true) do %>
                    <i class="fas fa-gift"></i> Un-grouped Gifts</a>
                <% end %>
            </li>
            <li class="menu-item"><a href="#">
                <%= link_to groups_path do %>
                    <i class="fas fa-layer-group"></i> All Groups</a>
                <% end %>
            </li>
        </ul>
    </div>
</div>