<div class="page">
    <div class="head-top">
        <%= link_to user_path(current_user) do %>
            <i class="fas fa-bars"></i>
        <% end %>
        <h3><%= current_user.name.capitalize %>'s Gifts</h3>
        <i class="fas fa-search"></i>
    </div>
    <div class="head-low">
        <p>Total Cost</p>
        <p class="price">$<%= @gifts.sum(:amount) %></p>
    </div>
    <div class="list-items">
    <% @gifts.each do |g| %>
        <%= link_to gift_path(g) do %>
        <div class="list-item">
            <%= insert_icon(g.group) %>
            <div class="list-text">
                <p class="list-name"><%= g.name %></p>
                <p class="list-date"><%= g.created_at.strftime("%Y-%m-%d") %></p>
            </div>
            <p class="price">Price: $<%= g.amount %></p>
        </div>
        <% end %>
    <% end %>
    </div>
</div>